body{
    background-color: black;
}
.center-box{
    background-color: gray;
    position: relative;
    width: 80%;
    height: 630px;
    margin-left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);

}
.tela{
    background-color: aliceblue;
    border-radius: 20px;
    color:black;
    font-size: 50px;

    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 30px;
    
    width: 90%;
    height: 120px;

    /*alinhando*/
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.teclado{
    background-color: rgb(61, 66, 66);
    width: 90%;
    height: 400px;
    position: relative;
    margin:auto;
    top: 60px;
    border-radius: 20px;
}
